@import "tailwindcss";

@theme{
    --color-primary:var(--color-amber-500);
    --color-secondary:oklch(92.8% 0.006 264.531);
    --color-accent:oklch(12.9% 0.054 264.2);

  
}
/* @keyframes scaleIn {
  from {
    transform: scale(0.8);
    opacity: 0;
  }
  to {
    transform: scale(1);
    opacity: 1;
  }
}

.animate-scaleIn {
  animation: scaleIn 0.2s ease-in-out;
} */
